.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.header1 {
    padding:15px 200px 3px;
    color: rgb(82, 72, 72);
}

.button {
    margin: 10px 5px;
    border-color: rgb(136, 70, 83);
    background-color: rgb(52, 172, 202);
    border-radius: 10px;
    color: white;
    padding: 10px;
}